# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Meta.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\flame\Documents\GitHub\Meta\.idea\.idea.Meta\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
