# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MGame.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\flame\Documents\GitHub\Meta-REPO\MGame\.idea\.idea.MGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
